html{
    background: black;
}
* {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#topHeader{

    padding-top: 20px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: "Poppins", sans-serif;
}
#topHeader > .box{
    width:100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: inline-flex;
    border-bottom: 0px solid white;
}
#topHeader > .box > a {
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-bottom: 0px solid white;
}

#title{
    font-weight: 500;
    font-family: "Poppins";
    font-size: 10.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
}

#title > p{
    letter-spacing: 200px;
}
#content{
    font-size: max(min(2.2vw, 30px),14px);
    font-weight: 300;
    font-family: "Poppins";
    padding: 3vw;
    padding-top: 0;
}
#languageContainer{}
dt{
    margin-left: 2vw;
    font-weight: 400;
    font-family: "Poppins";
}
dd{
    margin-left: 4vw;
    font-weight: 300;
    font-style: italic;
    font-family: "Poppins";
}

#Portfolio > dd > img{
    max-width:100%;
    height: auto;
}
#Portfolio > dt{
    margin-left: 2vw;
    font-weight: 400;
    font-family: "Poppins";
}
#Portfolio > dd{
    font-style: normal;
    font-size: max(min(1.5vw, 25px),14px);
    margin-left: 4vw;
    font-weight: 400;
    font-family: "Poppins";
}