
html{
    background: black;
}
* {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    background: none;
}
.gutter-sizer{
    width: 1%;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: max(300px, 20vw);
    margin-bottom: 1%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

